/build/
/.dart_tool/
.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/build/
**/build/
.dart_tool/
vibechat_server/serviceAccountKey.json
node_modules/
**/node_modules/
build/
**/build/
.dart_tool/
**/.dart_tool/